@model IEnumerable<PMDWebApplication.DB.FAQ>

@{
    ViewBag.Title = "ManageFAQ";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("ManageFAQ", "ManageFAQ")
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Manage FAQ
            <a href="../Admin/ManageFAQCreate" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Questions</th>
                            <th>Answers</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "ManageFAQEdit", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "ManageFAQDelete", new { id = item.Id })
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>