@model IEnumerable<PMDWebApplication.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";

}
    <div class="container">

        <h2>Roles in Vervoer</h2>
        <div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <h3 style="text-align:center">Available Roles as of @DateTime.Now</h3>

                    <p>
                        @Html.ActionLink("Create New", "RoleCreate")
                    </p>
                    <h4 style="color:green">@TempData["GreenMessage"]</h4>
                    <h4 style="color:red">@TempData["RedMessage"]</h4>

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "RoleEdit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "RoleDetails", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "RoleDelete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
</div>